<h1> All Props </h1>

<% @props.each do |prop| %>
  <h2><%= prop.name %></h2>
  <p><%= prop.description %></p>
  <p><%= prop.price %></p>
  <p><%= prop.availability %></p>
  <p><%= prop.location %></p>
  <p><%= prop.user.email %></p>
  <% prop.photos.each do |photo|%>
    <div>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill%>

    </div>
  <%end%>
  <div>
    <%= link_to "View", prop_path(prop)%>
  </div>
<% end %>
