<h1> My Prop </h1>

<h2><%= @prop.name %></h2>
 <div>
    <% @prop.photos.each do |photo|%>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill%>
    <%end%>
  </div>
<p><%= @prop.description %></p>
<p><%= @prop.price %></p>
<p><%= @prop.availability %></p>
<p><%= @prop.location %></p>
<p><%= @prop.user.email %></p>

<% if current_user == @prop.user%>
  <%= link_to "Edit", edit_prop_path(@prop)%>
<%end%>

<%= link_to "Book", new_prop_booking_path(@prop)%>
<%= link_to "Delete", prop_path(@prop), method: :delete, data: { confirm: 'Are you sure?' }%>
