<div class="banner5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6 col-lg-6 my-4 p-1">
        <div class="card" style="width: 28rem; height: 36rem;">
          <div class="text-center">
            <h2 class="prop-name"><%= @prop.name %></h2>
            <div>
              <% @prop.photos.each do |photo|%>
              <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill%>
              <%end%>
            </div>
          </div>
          <div class="card-body2">
            <div class="text-center">
              <p><%= @prop.description %></p>
              <p><strong>Price:</strong> £<%= @prop.price %></p>
              <p><strong>Location:</strong> <%= @prop.location %></p>
              <p><strong>Availability:</strong> <%= @prop.availability %></p>
              <% if current_user == @prop.user%>
              <%= link_to "Edit", edit_prop_path(@prop), :class => "btn-prop"%>
              <%= link_to "Delete", prop_path(@prop), :class => "btn-prop", method: :delete, data: { confirm: 'Are you sure?' }%>
              <% else %>
              <%= link_to "Book", new_prop_booking_path(@prop), :class => "btn-prop"%>
              <%end%>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-6 my-2 pr-3">
        <div
              id="map"
              style="width: 100%;
              height: 642px;"
              data-markers="<%= @markers.to_json %>"
              data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
              ></div>
      </div>
    </div>
  </div>
</div>


