<h1><%=current_user.email%> Bookings<h1>
​
<div>
  <%@bookings.each do |booking|%>
    <div>
      <div>
      <p><%=booking.prop.name%></p>
      </div>
​
      <div>
      <% booking.prop.photos.each do |photo|%>
        <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill%>
      <%end%>
      </div>
​
      <div>
      <p><%=booking.prop.description%></p>
      </div>
      <div>
​
      <div>
        <p>Start: <%=booking.start_date%></p>
      </div>
      <div>
        <p>End: <%=booking.end_date%></p>
      </div>
      </div>
      <div>
        <%= link_to "View", booking_path(booking)%>
      </div>
​
    </div>
  <%end%>
</div>


