<h1>Booking<h1>
<div>
  <div>
    <p><%=@booking.prop.name%></p>
  </div>
   <div>
    <% @booking.prop.photos.each do |photo|%>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill%>
    <%end%>
  </div>
  <div>
    <p><%=@booking.prop.description%></p>
  </div>
  <div>
    <p>Start: <%=@booking.start_date%></p>
  </div>
  <div>
    <p>End: <%=@booking.end_date%></p>
  </div>
</div>

