<div class="banner5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-6 my-3">
        <div class="card row justify-content-center" style="width: 38rem;">
          <div class="text-center">
            <small>
              <span class="badge">
                <h2 class="booking-name">Booking Confirmation<h2>
              </span>
            </small>
            <div>
              <div>
                <p><%=@booking.prop.name%></p>
              </div>
                <div>
                  <% @booking.prop.photos.each do |photo|%>
                  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill%>
                <%end%>
                </div>
                  <div>
                    <p class="booking-details"><%=@booking.prop.description%></p>
                  </div>
                    <div>
                      <p class="booking-details">Pick-up Location: <%=@booking.prop.location%></p>
                     </div>
                      <div>
                        <p class="booking-details">Start: <%=@booking.start_date.strftime('%d-%m-%Y')%></p>
                      </div>
                        <div>
                          <p class="booking-details">End: <%=@booking.end_date.strftime('%d-%m-%Y')%></p>
                        </div>
                          <div>
                            <p class="booking-details">Price: £<%=@booking.prop.price%></p>
                          </div>
            </div>
              <%= link_to "Edit", edit_booking_path(@booking), :class => "btn-prop"%>
              <%= link_to "Delete", booking_path(@booking), :class => "btn-prop", method: :delete, data: { confirm: 'Are you sure?' }%>
              <%= link_to "Add a review", new_booking_review_path(@booking), :class => "btn-prop"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
