<div class="banner7">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-6 my-3">
        <div class="card4 row justify-content-center" style="width: 38rem;">
          <div class="text-center">
            <small>
              <span class="badge">
                <h2 class="booking-name">Booking Confirmation<h2>
              </span>
            </small>
            <div>
              <div>
                <p><%=@booking.prop.name%></p>
              </div>
                <div>
                  <% @booking.prop.photos.each do |photo|%>
                  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill%>
                <%end%>
                </div>
                  <div>
                    <p class="booking-details"><%=@booking.prop.description%></p>
                  </div>
                    <div>
                      <p class="booking-details"><em>Pick-up Location: </em><%=@booking.prop.location%></p>
                    </div>
                      <div>
                        <p class="booking-details"><em>Start: </em> <%=@booking.start_date.strftime('%d-%m-%Y')%></p>
                      </div>
                        <div>
                          <p class="booking-details"><em>End: </em><%=@booking.end_date.strftime('%d-%m-%Y')%></p>
                        </div>
                          <div>
                            <p class="booking-details"><em>Price: </em> £<%=@booking.prop.price%></p>
                          </div>
            </div>
              <%= link_to "Edit", edit_booking_path(@booking), :class => "btn-prop"%>
              <%= link_to "Delete", booking_path(@booking), :class => "btn-prop", method: :delete, data: { confirm: 'Are you sure?' }%>
              <%= link_to "Add a review", new_booking_review_path(@booking), :class => "btn-prop"%>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <h3>Review</h3>
      <% if @booking.reviews.empty? %>
      <p>Review your booked prop!</p>
      <% else %>
      <ul class="list-group">
        <% @booking.reviews.each do |review| %>
          <li class="align-items-center">
            <%= review.content %>
            <div class="align-items-center text-center">
              <span>
              <% counter = 0 %>
              <% 5.times do %>
              <i class="fa <%= review.rating > counter ? 'fa-star' : 'fa-star-o' %>"></i>
              <% counter += 1 %>
              <% end %>
              </span>
              <div class="remove-btn">
              <%= link_to "Remove",
                  review_path(review),
                  :class => "btn btn-light",
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>

