<div class="banner2" style="background-image: url(https://images.unsplash.com/photo-1519751138087-5bf79df62d5b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);">
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6 my-3">
      <div class="card" style="width: 30rem;">
        <div class="search-form box-shadow p-4">
          <div class="text-center">
            <h2>Log in</h2>
          </div>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in", class: "btn btn-primary btn-lg btn-block" %>
  </div>
<% end %>
<div class="text-center my-2">
<%= render "devise/shared/links" %>
</div>
</div>
</div>
